<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.destaque{
    color: #22D4FD;
}
.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao_conteudo_texto{
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}
.apresentacao_conteudo_botao{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.apresentacao_conteudo_botao_link{
    background-color: #22D4FD;
    width: 270px;
    text-align: center;
    border-radius: 18px;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.destaque{
    color: #22D4FD;
}
.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao_conteudo_texto{
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}
.apresentacao_conteudo_botao{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.apresentacao_conteudo_botao_link{
    background-color: #22D4FD;
    width: 270px;
    text-align: center;
    border-radius: 18px;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-family: Montserrat, sans-serif;
}
>>>>>>> 050eb7f8b49150b21ef5d30b0470b6835f9b4c38
