@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --cor-primaria: black;
    --cor-secundaria: #22D4FD;
    --cor-terciaria: #f6f6f6;

    --fonte-primaria: 'Karona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}
.cabecalho{
    padding: 4% 0% 0% 15%; 
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-decoration: none;
}
.apresentacao{
    padding: 7% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.apresentacao_conteudo_titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.destaque{
    color: var(--cor-secundaria);
}
.apresentacao_conteudo_texto{
    font-size: 1.25rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao_conteudo_botao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao_conteudo_subtitulo{
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
}
.apresentacao_conteudo_botao_link{
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 270px;
    border: 2px solid var(--cor-secundaria);
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao_conteudo_botao_link:hover{
    background-color: #272727;
}
.rodape{
    padding: 22px;
    text-align: center;
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 18px;
}
